
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-image: url('images/weather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.parentdiv{
    width: 900px;
    height: 500px;
    border-radius: 15px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.div-one{
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin-top: 130px;
    background-image: url('images/weather-text.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.div-two{
    width: 420px;
    height: 410px;
    border-radius: 8px;
    margin-top: 40px;
    background-image: url('images/gradian-color.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#searchCity{
    width: 200px;
    height: 35px;
    margin-left: 30px;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 35px;
    margin-right: 25px;
    border-radius: 50px;
    border: none;
}

#searchBtn{
    padding: 6px 16px;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

#searchBtn:hover {
  background-color: #2c9c5b;
  color: white;
  transform: translateY(-2px); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}


#cityName{
    color: white;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 25px;
    font-family: Arial, sans-serif;
}


#weatherInfo{
    width: 350px;
    margin: 30px auto;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-top: 0px;
}
